div.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

header {
    background-color: white;
    height: 8vh;
}

section.main {
    background-color: red;
    height: 52vh;
    background-image: url("../images/city_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

div.searchContainer {
    float: right;
    margin-top: 6vh;
    margin-right: 40vh;
    height: 40vh;
    width: 45vh;
    background-color: white;
}

section.table {
    overflow: auto;
    height: 35vh;
    padding: 0 17%;
}

div.contentTable {
    padding-top: 2%;
}

footer {
    padding: 8px 0 0 10%;
    font-size: small;
    vertical-align: center;
    height: 5vh;
    color: #848484;
    border-top: black;
    background-color: #e6e6e6;
}

@media screen and (max-width: 426px) {
    div.searchContainer {
        float: none;
        width: 50vh;
        margin: auto;
        height: auto;
        margin-top: 1vh
    }

    div.tableHeader {
        display: list-item;
    }

    div.listing {
        display: list-item;
    }

    button.buttonClear {
        width: max-content !important;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    div.searchContainer {
        float: none;
        width: 50vh;
        margin: auto;
        height: auto;
        margin-top: 1vh
    }

    div.tableHeader {
        display: list-item;
    }

    div.listing {
        display: list-item;
    }

    button.buttonClear {
        width: max-content !important;
    }
}