h4.cache {
    font-size: x-large;
    font-weight: bold;
}

div.tableHeader {
    /*position: static;*/
    color: #848484;
    background-color: #e6e6e6;
    font-size: small;
}

div.itemHeader {
    border: 1px solid #d8d8d8;
    padding: 1% 3%;
    text-transform: uppercase;
}

div.item {
    border: 1px solid #d8d8d8;
    font-size: small;
    padding: 1% 3%;
    text-transform: capitalize;
}

div.itemButton {
    border: 1px solid #d8d8d8;
    font-size: small;
    padding: 1% 3%;
}

button.buttonClear {
    border: none;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 10px;
    padding: 3px;
    border-radius: 25px;
    color: white;
    width: 100%;
    background-color: #ec0000;
}
