img {
    display: block;
    height: 7vh;
}

div.icon {
    float: left;
    padding-top: 0.8vh;
    margin-left: 80px;
}

div.navText {
    letter-spacing: 4px;
    padding-top: 0.8vh;
    float: left;
    font-family: fantasy;
    font-style: italic;
    color: black;
    text-transform: uppercase;
}

span.city {
    margin: auto;
    height: 3.5vh;
    display: block;
}

span.geo {
    margin-top: -5px;
    height: 3.5vh;
    display: block;
}