div.searchForm {
    padding: 4% 0;
    height: 100%;
    width: 80%;
    margin: auto auto;
    color: black;
}

div.titleContainer {
    height: 30%;
    text-align: center;
    padding: inherit;
}

div.title {
    font-size: x-large;
    font-weight: bold;
}

div.title2 {
    font-size: small;
    color: #848484;
}

div.inputContainer {
    height: 30%;
    font-size: small;
    padding: inherit;
}

input.cityInput {
    padding: 3%;
    width: 100%;
    border-radius: 4px;
    border-style: groove;
}

div.resultContainer {
    text-transform: capitalize;
    height: 10%;
    font-size: small;
    padding: 3% 0;
    color: #ec0000;
}

div.buttonContainer {
    height: 20%;
    padding-top: 10%;
}

button.buttonSearch {
    text-transform: uppercase;
    border: none;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 12px;
    padding: 7px;
    border-radius: 25px;
    color: white;
    width: 100%;
    background-color: #ec0000;
}
